@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="text-capitalize">
    <h1 class="display-4">Jokes Application</h1>
    <p>The formost authority for good humor thaty you'll find anywhere on your local host.</p>
    
</div>
